@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';
@import 'themes/green';

.app {
  background: var(--bg-color);
  min-height: 100svh;
  font: var(--font-m);
  color: var(--primary-color);
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100svh;
  font: var(--font-m);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--light-bg-redesigned);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--icon-redesigned);
  border-radius: 20px;
  border: 2px solid var(--accent-redesigned);
}

.app *::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

.app *::-webkit-scrollbar-track {
  background: var(--card-bg);
}

.app *::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
