.options {
  background: var(--dark-bg-redesigned);
  z-index: 10000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
}

.option {
  padding: 10px 20px;
  white-space: nowrap;
}

.selected {
  background-color: var(--light-bg-redesigned);
}

.label {
  color: var(--icon-redesigned);
}
