.blocks {
  .card {
    width: 240px;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .avatar {
    margin-left: 8;
  }

  .img {
    width: 100%;
    min-height: 140px;
    max-height: 140px;
  }

  .info {
    padding: 8px 8px 16px;
    height: 100%;
  }

  .footer {
    height: 100%;
    justify-content: flex-end;
  }
}
