.app_dark_theme {
	--bg-color: #1e1f26;
	--inverted-bg-color: #e8e8ea;
	--primary-color: #568203;
	--secondary-color: #279349;
	--inverted-primary-color: #257;
	--inverted-secondary-color: #0ebeff;

	// skeleton
	--skeleton-color: #1515ad;
	--skeleton-shadow: #2b2be8;

	// code
	--code-bg: #353642;

	// card
	--card-bg: #353642;

	// listbox
	--listbox-bg: #353642;
}
