.app_dark_theme {
  --bg-color: #1e1f26;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #568203;
  --secondary-color: #279349;
  --inverted-primary-color: #257;
  --inverted-secondary-color: #0ebeff;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #353642;

  // card
  --card-bg: #353642;

  // listbox
  --listbox-bg: #353642;
}
