.app_green_theme {
	--bg-color: #37474F;
	--inverted-bg-color: #DCEDC8;
	--primary-color: #8BC34A;
	--secondary-color: #689F38;
	--inverted-primary-color: #689F38;
	--inverted-secondary-color: #8BC34A;
}
