.app_green_theme {
  --bg-color: #28343a;
  --inverted-bg-color: #dcedc8;
  --primary-color: #8bc34a;
  --secondary-color: #689f38;
  --inverted-primary-color: #689f38;
  --inverted-secondary-color: #8bc34a;

  // skeleton
  --skeleton-color: #33454f;
  --skeleton-shadow: #2b2b41;

  // code
  --code-bg: #384952;

  // card
  --card-bg: #384952;

  // listbox
  --listbox-bg: #384952;
}
