.app_light_theme {
	--bg-color: #e8e8ea;
	--inverted-bg-color: #1e1f26;
	--primary-color: #257;
	--secondary-color: #0ebeff;
	--inverted-primary-color: #2fb45a;
	--inverted-secondary-color: #279349;

	// skeleton
	--skeleton-color: rgb(7 6 6 / 19.8%);
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #bfbfc3;

	// code
	--card-bg: #bfbfc3;
}
