.icon {
  color: var(--icon-redesigned);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .icon {
  color: var(--accent-redesigned);
}
