.fillPrimary {
	fill: var(--primary-color);
}

.fillSecondary {
	fill: var(--secondary-color);
}


.strokePrimary path {
	stroke: var(--primary-color);
}

.strokeSecondary {
	stroke: var(--secondary-color);
}

.pointer {
	cursor: pointer;
}