.navbar {
	width: 100%;
	height: var(--navbar-height);
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 15px;
}

.appName {
	width: var(--sidebar-width);
}

.links {
	margin-left: auto;
	gap: 20px;
}

.mainLink {
	margin-right: 15px;
}
