.card {
  padding: 24px;
}

.max {
  width: 100%;
}

// variants
.normal {
  background: var(--dark-bg-redesigned);
}

.light {
  background: var(--light-bg-redesigned);
}

.outlined {
  border: 1px solid var(--accent-redesigned);
}

// gap
.padding_0 {
  padding: 0;
}

.padding_8 {
  padding: 8px;
}

.padding_16 {
  padding: 16px;
}

.padding_24 {
  padding: 24px;
}

// border
.border_round {
  border-radius: 40px;
}

.border_normal {
  border-radius: 12px;
}
